.keycast-bg {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/home/samemaru/dotfiles/assets/eww-keycast/mimic.JPG");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 10px 24px;
    margin: 4px;
}

.keycast-label {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    min-width: 400px;
}
